<h4>My Properties</h4>
<% @properties.each do |property| %>
<i class="fa-solid fa-location-pin"></i> <%= link_to property.property_address, style: "text-decoration: none;" %>

  <%= link_to property_path(property),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
  <i class="fa-solid fa-trash"></i>
  <% end %>
<% end %>
</div>
